.view-image-button{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    position: absolute;
    padding: 5px;
}
.view-image-button:hover{
    background-color: rgba(0,0,0,0.08);
}
.select-color-button{
    transition: linear 0.1s;
}
.select-color-button:hover{
    scale: 1.2;
}
